header {
  // display: flex;
  background-color: #D8D8D8;
  background-image: url('/assets/wildlife-photographer-year-2018-3.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;

  h1 {
    color: #a89b9d;
    margin: 0;
    font-size:6em;
  }

  nav {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }

    li {
      margin-left: 2em;
    }
  }

  .user-links {
    align-items: right;
  }
}
