.wrapper {
  max-width: 90vw;
  margin: 0 auto;
}

.cats-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

article {
  // width:45%;
  background-color: $primary-color;
  color: #000000;
  margin: 2em 0;

  h3 {
    font-size:3em;
    margin: 0;
  }

  ul {
    padding: 0;
    li {
      font-size: 1.8em;
    }
  }

  textarea {
    width: 300px;
    height: 125px;
  }
}

.cats-listing {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px solid green;
}

.cat_listing__interaction {
  display: flex;
  justify-content:left;
  button {
    white-space: nowrap;
  }
}

.cat-details-container {
  display: flex;
  flex-direction: column;

  .cats-listing__preview-image {
    width: 20em;
    height:20em;
    img {
      object-fit:cover;
      width:100%;
    }
  }

  section {
    padding: 0 0 0 3em;
  }

}
