<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Cats</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1 class="visually-hidden">Exotic cats</h1>
  <header class="page-header">
    <img class="app-logo" src="" alt="" width="" height="">

    <!-- <nav class="user-nav">
      <ul class="user-links">
        <li class="user-link">
          Home page
        </li>
        <li class="user-link">
          Search
        </li>
        <li class="user-link">
          Favourites
        </li>
        <li class="user-link">
          My cats
        </li>
      </ul>
      <ul class="auth-links">
        <li>
          Sign in
        </li>
        <li>
          Log in
        </li>
        <li>Log out</li>
      </ul>
      <div>
        <img class="user-avatar" src="" alt="" width="" height="">
      </div>
    </nav> -->
  </header>
  <main>


    <form action="" method="get" class="filters-form">
      <h2>Filter</h2>
      <fieldset>
        <legend>Adoption fee</legend>
        <label for="min-fee">from</label>
        <input type="number" name="min-fee" id="min-fee">
        <label for="max-fee">to</label>
        <input type="number" name="max-fee" id="max-fee">
      </fieldset>
      <fieldset>
        <legend>
          Gender
        </legend>
        <input type="radio" id="male" name="gender" value="male">
        <label for="name">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="name">Female</label>
      </fieldset>
      <fieldset>
        <legend>Origin</legend>
        <input type="checkbox" id="Asia" name="Asia" value="Asia" checked>
        <label for="name">Asia</label>
        <input type="checkbox" id="Europe" name="Europe" value="Europe" checked>
        <label for="name">Europe</label>
        <input type="checkbox" id="Africa" name="Africa" value="Africa" checked>
        <label for="name">Africa</label>
        <input type="checkbox" id="SouthAmerica" name="SouthAmerica" value="SouthAmerica" checked>
        <label for="name">South America</label>
        <input type="checkbox" id="NorthAmerica" name="NorthAmerica" value="NorthAmerica" checked>
        <label for="name">North America</label>
      </fieldset>
      <button type="submit">Filter</button>
    </form>
    <section class="cats-container">
    <!-- <article class="cats-listing">
      <div class="cat_listing__interaction">
        <button type="button" class="cat_listing__interaction-button add-to-favourites">

          <img src="" alt="add to favourites" width="20" height="20">
        </button>
        <button type="button" class="cat_listing__interaction-button contact-button">

          <img src="" alt="contact the seller" width="20" height="20">
        </button>
      </div>
      <div class="cats-listing__preview-image">
        <img src="${cat.thumbnail_photo_url}" alt="cat's photo">
      </div>

      <section class="cat-listing__details">
        <h3 class="cat-listing__name">${cat.name}</h3>
        <ul class="cat-listing__details">
          <li>Age: ${cat.age}</li>
          <li>Gender: ${cat.gender}</li>
          <li>Region: ${cat.region}</li>
          <li>Species: ${cat.species}</li>
          <li>Size: ${cat.size}</li>
          <li>Description: ${cat.description}</li>
        </ul>
        <footer class="cat-listing__footer">
          <div class="cat-listing__price">$${cat.fee}</div>
          <div class="cat-listing__availability">${cat.isAvailable}</div>
        </footer>
      </section>
    </article> -->
  </section>
  </main>
  <footer>
    <h3>Meowzza</h3>
    <p>2020</p>
    <div class="copyright">Ata, Steven, Luba</div>
  </footer>
  <script src="scripts/libraries/meowzza.js"></script>
  <script src="scripts/views_manager.js"></script>
  <script src="scripts/components/header.js"></script>
  <script src="scripts/components/new_cat_form.js"></script>
  <!-- <script src="scripts/components/cats_listing.js"></script> -->
</body>

</html>
