<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Cats</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1 class="visually-hidden">Exotic cats</h1>
  <header class="page-header">
    <img class="app-logo" src="" alt="" width="" height="">
    <section class="new-listing"></section>

    </section>
  </header>
  <main>


    <form action="/users/filteredCats" method="GET" class="filters-form">
      <h2>Filter</h2>
      <fieldset>
        <legend>Adoption fee</legend>
        <label for="minimum_fee">from</label>
        <input type="number" name="minimum_fee" id="minimum_fee">
        <label for="maximum_fee">to</label>
        <input type="number" name="maximum_fee" id="maximum_fee">
      </fieldset>
      <!-- <fieldset>
        <label for="region">Region</label>
        <select name="region" id="region">
          <option value="Asia" name="region">Asia</option>
          <option value="Europe" name="region">Europe</option>
          <option value="Africa" name="region">Africa</option>
          <option value="NorthAmerica" name="region">North America</option>
          <option value="SouthAmerica" name="region">South America</option>
        </select>
      </fieldset> -->
      <button type="submit">Filter</button>
    </form>


    <section class="cats-container">

    </section>
  </main>
  <footer>
    <h3>Meowzza</h3>
    <p>2020</p>
    <div class="copyright">Ata, Steven, Luba</div>
  </footer>
  <script src="scripts/libraries/meowzza.js"></script>
  <script src="scripts/views_manager.js"></script>
  <script src="scripts/components/cat_listing.js"></script>
  <script src="scripts/components/header.js"></script>
  <script src="scripts/components/new_cat_form.js"></script>
  <!-- <script src="scripts/components/cats_listing.js"></script> -->
</body>

</html>
