<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Meowzza!</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- material design requirement -->
  <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
  <!-- material design icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- material design requirement -->
  <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
</head>

<body>
  <header class="page-header">
    <h1 class="visually-hidden">Meowzza!</h1>
    <img class="app-logo" src="" alt="" width="" height="">
    <section class="new-listing"></section>
  </header>
  <main class="wrapper">
<!-- test button -->
<!-- <button class="mdc-button">
  <div class="mdc-button__ripple"></div>
  <span class="mdc-button__label">Button</span>
</button> -->

    <form action="/users/filteredCats" method="get" class="filters-form">
      <h2>Filter Options</h2>
      <fieldset>
        <legend>Adoption fee</legend>
        <div class="mdc-form-field">
          <input type="number" name="minimum_fee" id="minimum_fee">
        </div>
        <label for="minimum_fee">from</label>
        <div class="mdc-form-field">
          <input type="number" name="maximum_fee" id="maximum_fee">
        </div>
        <label for="maximum_fee">to</label>
      </fieldset>
      <fieldset>
        <label for="region">Region</label>
        <select name="region" id="region">
          <option value="Asia" name="region">Asia</option>
          <option value="Europe" name="region">Europe</option>
          <option value="Africa" name="region">Africa</option>
          <option value="NorthAmerica" name="region">North America</option>
          <option value="SouthAmerica" name="region">South America</option>
        </select>
      </fieldset>
      <button type="submit" class="mdc-button">
        <div class="mdc-button__ripple"></div>
        Find cats
      </button>
    </form>

    <section class="cats-container">

    </section>
  </main>
  <footer>
    <h3>Copyright &copy; 2020 Meowzza. By Ata, Luba & Steven. All rights reserved.</h3>
  </footer>
  <script src="scripts/libraries/meowzza.js"></script>
  <script src="scripts/views_manager.js"></script>
  <script src="scripts/components/cat_listing.js"></script>
  <script src="scripts/components/header.js"></script>
  <script src="scripts/components/new_cat_form.js"></script>
  <script src="scripts/components/cats_listing.js"></script>
</body>

</html>
